#searchBar {
	position: relative;
	left: 675px;
    bottom: 35px;x;
}

.navbar-brand>img {
    display: block;
    height: 25px;
}


html {
	height: 100%;
}

 body  {
    background-image: url("../img/cover.jpg");
    background-color: #cccccc;
    background-size: cover;
	background-position: center;
}

hr {
	width: 400px;
	border-top: solid 1px color;
	border-bottom: solid 1px color;
}

#content {
	color: #00b3b3;
	text-align: center;
	padding-top: 15%;
}

.brandFont {
	font-family: 'Oswald', sans-serif;
}

.modelFont {
font-family: 'Oswald', sans-serif;
}

.priceFont {
font-family: 'Oswald', sans-serif;
}

.title {
	text-shadow: 0px 4px 3px black;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 70px	          
}

#line {
	color: black;
}

.banner {
	font-family: 'Alegreya Sans', sans-serif;
	position: relative;
	font-size: 70px;
	bottom: 40px;
	color:   #00b3b3;
	text-shadow: 0px 4px 3px black;
}

div.background:hover {
	background-color:  #009999;
	transition: all .35s;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #383838;
  text-align: center;
}

.footerlang{
	color: #5F5F5F;
}
